# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse
.classpath
.settings/

# kofiguracioni fajlovi
firme/src/main/resources/application.properties
centralnaBanka/src/main/resources/application.properties
banke/src/main/resources/application.properties