<!DOCTYPE html>
<html ng-app="app"  lang="en">
<head>
<meta charset="utf-8">

	<!-- AngularJS -->
	<script src="//code.angularjs.org/1.5.9/angular.js"></script>
	<script src="//code.angularjs.org/1.5.9/angular-messages.js"></script>
	<script src="//code.angularjs.org/1.5.9/angular-route.js"></script>
	<script src="//code.angularjs.org/1.5.9/angular-resource.js"></script>
	<script	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.js"></script>
	
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	
	<link rel="stylesheet" href="assets/style.css">
	<script src="app.js"></script>
	<script src="js/controllers/izvodController.js"></script>
	<script src="js/controllers/nalogController.js"></script>
	<script src="js/controllers/fakturaController.js"></script>
	<script src="js/controllers/porukeController.js"></script>
	<script src="js/controllers/userController.js"></script>
	
	<script src="js/services/fakturaService.js"></script>
	<script src="js/services/nalogService.js"></script>
	<script src="js/services/izvodService.js"></script>
	<script src="js/services/porukeService.js"></script>
	<script src="js/services/userService.js"></script>

</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav" ng-if="$root.user != null">		
				<li><a style="padding:10px;" href="#/faktura">Slanje fakture</a></li>
				<li><a style="padding:10px;" href="#/nalog">Slanje naloga za plaćanje</a></li>
				<li><a style="padding:10px;" href="#/izvod">Preuzimanje izvoda</a></li>
				<li><a style="padding:10px;" href="#/poruke">Pregled poruka</a></li>
				<li><a style="padding:10px;" href="#/fakture">Pregled faktura</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="$root.user == null">
					<a ui-sref="login">Log In</a>
				</li>
				<li ng-if="$root.user == null">
					<a ui-sref="register">Register</a>
				</li>
				<li ng-if="$root.user != null">
					<a>Logged in as: <strong>{{$root.user}}</strong></a>
				</li>
				<li ng-controller="userController" ng-if="$root.user != null">
					<a ng-click="logout()" class="pointer-cursor">Log out</a>
				</li>
			</ul>
		</div>
	</nav>
	<div ui-view ></div>
</body>

</html>