<div class='container'>
	<div class="row">
		<form name="checkCertificateForm">
		
				<div class="form-group row">
					<label class="control-label col-sm-2">Certificate alias:</label> 
					<div class="col-sm-10">
						<input  class="form-control" ng-model="checkAlias" required></div>
				</div>
				 <div>
					<button type="submit" ng-click="checkCertificate(checkAlias)" btn btn-primary btn-sm">Check validity</button>
					<button type="submit" ng-click="getCertificate(checkAlias)" btn btn-primary btn-sm">Get Certificate text</button>
					<button type="submit" ng-click="getCertificateFile(checkAlias)" btn btn-primary btn-sm">Get certificate file</button>
				</div>
		</form>
	</div>
</div>
<div>
</div>