<div class='container'>
	<div class="row">
		<form name="revokeCertificateForm" ng-submit="revokeCertificate(revokeCertificateDto)">
		
				<div class="form-group row">
					<label class="control-label col-sm-2">Certificate alias:</label> 
					<div class="col-sm-10">
						<input  class="form-control" ng-model="revokeCertificateDto.certificateAlias" required></div>
				</div>
				
				<div class="form-group row">
					<label class="control-label col-sm-2">Key alias:</label> 
					<div class="col-sm-10">
						<input  class="form-control" ng-model="revokeCertificateDto.caKeyEntryAlias" required></div>
				</div>
				<div class="form-group row">
					<label class="control-label col-sm-2">Key password:</label> 
					<div class="col-sm-10">
						<input  class="form-control" ng-model="revokeCertificateDto.caKeyEntryPassword" required></div>
				</div>
				<div class="form-group row">
					<label class="control-label col-sm-2">Confirm password:</label> 
					<div class="col-sm-10">
						<input  class="form-control" ng-model="confirmPassword" required></div>
				</div>
				<span class="error" ng-show="(revokeCertificateForm.confirmPassword.$dirty && !(certificateController.confirmPassword === certificateController.revokeCertificateDto.caKeyEntryPassword))">
				 Passwords do not match. </span>
				 <div>
					<button type="submit" ng-disabled="!(revokeCertificateForm.$valid && (certificateController.confirmPassword === certificateController.revokeCertificateDto.caKeyEntryPassword))"
					 class="btn btn-primary btn-sm" name="signup">Revoke certificate</button>
				</div>
		</form>
	</div>
</div>