<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 default-background">
            <form ng-submit="register()" role="form">
                <h2>Sign up</h2>
                
                <div class="alert alert-danger" ng-if="messages.failedRegistration">
                    {{messages.failedRegistration}}
                </div>
                <div class="alert alert-success" ng-if="messages.successfulRegistration">
                    {{messages.successfulRegistration}}
                </div>

                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Username" autofocus required>
                </div>

                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password" required>
                </div>
                
                <div class="form-group">
                    <label for="pw-confirm" class="sr-only">Confirm password</label>
                    <input type="password" class="form-control" id="pw-confirm" ng-model="user.passwordMatch" placeholder="Confirm password" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Sign up
                    </button>
                </div>

                <div class="form-group">
                    <label class="member">Already a member?</label>
                    <a ui-sref="login" class="underline"><strong>Log In</strong></a>
                </div>
            </form>
        </div>
    </div>
</div>